body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: aliceblue;
    font: 400;
    transition: 0.5s;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }

  a:hover {
    font-size: xx-large;
    color: lightsteelblue;
  }

  .active {
    font-size: x-large;
    background-color: slateblue;
  }

  body {
    text-align: center;
  }

  nav {
    display: block;
    background-color: dimgray;
    min-height: 1cm;
    max-height: 1cm;
    margin: auto;
  }